<div class="jumbotron" >
		<div class="container">
		<h1>Welcome Home! Have a seat on the couch, and make yourself comfortable! </h1>
		<p>Home of the most comfortable couch on earth, youll never leave :) </p>
	</div>
</div>
